version: '3'
services: 
  inside:
    image: dmise/inside:http   #use "image" if we use image instead of dockerfile   or "build" .  (where '.' is current directory)
    ports:    
    - "7117:80"
    environment: 
      ASPNETCORE_URLS: "http://+"
      
      ASPNETCORE_HTTP_PORT: "7117"
      
      ASPTENCORE_ENVIRONMENT: "Development"
      

    container_name: "dmise_inside-http"